.start-panel {
    display: grid;
    grid-template-columns: minmax(50px, 1fr) minmax(150px, 4fr) 15fr;
}

.start-panel__icons {
    display: grid;
    grid-template-rows: 5fr repeat(4, 1fr);
    align-content: end;
}

.start-panel__grid {
    display: grid;
    grid-template-areas: 
        "office other"
        ". other"
        ". other"
        ". other"
        "web other";
    grid-auto-rows: 50px;
    grid-gap: 10px;
}


.apps--office {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-area: office;
}

.apps--web {
    display: grid;
    grid-area: web;
}

.apps--other {
    display: grid;
    grid-area: other;
    grid-template-rows: repeat(3, 1fr);
}

.apps__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 50px);
    grid-gap: 5px;
}

.app--g2x2 {
    grid-column: span 2;
    grid-row: span 2;
}

.app--g2x1 {
    grid-column: span 2;
    grid-row: span 1;
}

.app--g1x2 {
    grid-column: span 1;
    grid-row: span 2;
}

.app--off-1 {
    grid-column: 3;
    grid-row: 3;
}

.app--off-2 {
    grid-column: 5 / span 2;
    grid-row: 1 ;
}

.app--off-3 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.app--off-4 {
    grid-column: 5 / span 2;
    grid-row: 2 / span 2;
}

.app--off-5 {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
}

.app--in-3 {
    grid-column: 3;
    grid-row: 1 / span 2;
    order: -1;
}

.app--fun-2 {
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
}

.app--fun-3 {
    grid-row: 5 / span 2 ;
    grid-column: 5 / span 2;
}
